@charset "UTF-8";
/*переменные*/
:root {
  --link-button-blue-color: #2196f3;
  --moz-background-hero-foter-color: #2f303a;
  --heading-text-color: #212121;
  --text-color: #757575;
  --button-background-color: #f5f4fa;
  --logo-color: #000000;
  --border-header: #ececec;
  --text-fone: #ffffff;
  --add-link-color: rgba(255, 255, 255, 0.6);
  --border-card-list: #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-form-background: #188ce8;
  --link-color: #afb1b8;
}

/*общие стили*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0px;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*header*/
.header {
  border-bottom: 1px solid var(--border-header);
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  color: var(--link-button-blue-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo-header {
  color: var(--logo-color);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list__item {
  margin-left: 50px;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__current::after {
  position: absolute;
  display: inline-block;
  content: "";
  left: 0;
  bottom: -1.5px;
  width: 100%;
  height: 4px;
  background-color: var(--link-button-blue-color);
  border-radius: 2px;
}

.nav-list__link {
  position: relative;
  color: var(--heading-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--link-button-blue-color);
}

.nav-list-link__current {
  color: var(--link-button-blue-color);
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-list {
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts-list__link {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-bottom: 32px;
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--link-button-blue-color);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__icon {
    margin-right: 10px;
  }
}

/*main*/
.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--moz-background-hero-foter-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone480.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone480@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone768.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone768@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone1600.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgraudfone1600@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgraudfone1600@2x.jpg");
  }
}

.hero__heading {
  color: var(--text-fone);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__botton {
  color: var(--text-fone);
  background-color: var(--link-button-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    text-align: left;
  }
}

.features-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

.features-list__container {
  background-color: var(--button-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .features-list__container {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__container {
    width: 270px;
  }
}

.features-list__heading {
  color: var(--heading-text-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  color: var(--text-color);
  line-height: 1.7;
}

.direction {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .direction {
    display: block;
  }
}

.direction__heading {
  color: var(--heading-text-color);
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.direction__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.direction__item {
  position: relative;
}

.direction__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.direction__text {
  position: absolute;
  left: 25%;
  bottom: 27px;
  font-weight: bold;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--text-fone);
}

.team {
  background-color: var(--button-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__heading {
  color: var(--heading-text-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__heading {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.list-icon__item:not(:last-child) {
  margin-right: 10px;
}

.list-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--link-color);
  border-radius: 50%;
  -webkit-transition: background 250ms var(--cubic), color 250ms var(--cubic);
  transition: background 250ms var(--cubic), color 250ms var(--cubic);
}

.list-icon__link:hover,
.list-icon__link:focus {
  color: var(--text-fone);
  background: var(--link-button-blue-color);
}

.list-icon__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.team-list__thumb {
  height: 460px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team-list__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__thumb {
    height: 260px;
  }
}

.team-list__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-list__container {
  background-color: var(--text-fone);
  text-align: center;
  padding: 30px 122px 24px 122px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__container {
    padding: 30px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__container {
    padding: 30px 32px;
  }
}

.team-list__name {
  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__heading {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
  color: var(--heading-text-color);
}

@media screen and (min-width: 1200px) {
  .client__heading {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .client-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--cubic), color 250ms var(--cubic);
  transition: border 250ms var(--cubic), color 250ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 170px;
  }
}

.client-list__link:hover, .client-list__link:focus {
  color: var(--link-button-blue-color);
  border: 1px solid var(--link-button-blue-color);
}

.client-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .client-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.client-list__icon {
  fill: currentColor;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .list-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-button {
    margin-bottom: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.list-button__button {
  border-radius: 4px;
  border: none;
  color: var(--heading-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  -webkit-transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

.list-button__button:hover, .list-button__button:focus {
  background-color: var(--link-button-blue-color);
  color: var(--text-fone);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button__item:not(:last-child) {
  margin-right: 8px;
}

.list-button__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .list-button__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.work-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .work-list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.work-list__item {
  margin-bottom: 30px;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .work-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.work-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .work-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work-list__link:hover,
.work-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__image {
  width: 450px;
}

.thumb-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.work-list__link:hover .thumb-container,
.work-list__link:focus .thumb-container {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.thumb-container {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-fone);
  padding: 63px 24px;
}

.work-container {
  padding: 20px 24px;
  border-right: 1px solid var(--border-card-list);
  border-left: 1px solid var(--border-card-list);
  border-bottom: 1px solid var(--border-card-list);
}

.work-container__heading {
  color: var(--heading-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-container__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) {
  .work-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer {
  background-color: var(--moz-background-hero-foter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .container-address {
    margin-right: 70px;
  }
}

.logo-type__box {
  margin-right: 0;
  padding: 0;
}

.logo-fot {
  color: var(--text-fone);
}

.logo-type {
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.footer-address__list {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-address__list {
    margin-bottom: 0;
  }
}

.footer-address__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
}

.footer-address__item:last-child {
  margin-bottom: 0;
}

.footer-address__maps {
  display: block;
  color: var(--text-fone);
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-address__maps {
    margin-bottom: 9px;
  }
}

.footer-address__link {
  color: var(--add-link-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--link-button-blue-color);
}

.social-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-container {
    margin-bottom: 0;
  }
}

.social-head {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-fone);
  margin-bottom: 20px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .social-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.social-list__item:not(:last-child) {
  padding-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--text-fone);
  -webkit-transition: background 250ms var(--cubic);
  transition: background 250ms var(--cubic);
}

.social-list__link:hover, .social-list__link:focus {
  background: var(--link-button-blue-color);
}

.social-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__text {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-fone);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-form__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-bottom: 0;
  }
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-fone);
  background: var(--link-button-blue-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 28px;
  margin: auto;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  height: 609px;
  max-height: 100%;
  width: 450px;
  max-width: 100%;
  background-color: var(--text-fone);
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 521px;
    min-width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-image: url(/images/Ellipse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal__icon {
  margin: 6px;
  fill: currentColor;
}

.modal__icon:hover, .modal__icon:focus {
  color: var(--link-button-blue-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.modal-form {
  padding: 40px;
}

.modal-form__heading {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--heading-text-color);
  margin-bottom: 12px;
}

.modal-form__input:focus {
  border-color: var(--link-button-blue-color);
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--link-button-blue-color);
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__container {
  position: relative;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;
}

.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  height: 120px;
  resize: none;
  cursor: pointer;
  outline: none;
}

.modal-form__textarea:focus {
  border-color: var(--link-button-blue-color);
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}

.modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.16;
  color: var(--text-color);
  cursor: pointer;
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    padding-left: 23px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--link-button-blue-color);
  padding-left: 0 auto;
  padding-right: 0 auto;
}

.checkbox__icon {
  border: 2px solid var(--heading-text-color);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  /*left: 13px;*/
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox__use {
  display: none;
}

.checkbox:checked + .checkbox__icon {
  border: none;
}

.checkbox:checked + .checkbox__icon .checkbox__use {
  display: block;
}

.submit-container {
  text-align: center;
}

.submit-container__button {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-fone);
  background-color: var(--link-button-blue-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  cursor: pointer;
}

.submit-container__button:hover, .submit-container__button:focus {
  background: var(--modal-button-form-background);
  -webkit-transition: background 250ms var(--cubic);
  transition: background 250ms var(--cubic);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: white;
  z-index: 999;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-icon {
  fill: currentColor;
}

.mobile-icon:hover,
.mobile-icon:focus {
  color: var(--link-button-blue-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-container {
  color: #fff;
}

.mobile-menu {
  margin-bottom: 302px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
  color: var(--heading-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: var(--link-button-blue-color);
}

.mobile-menu__current {
  color: var(--link-button-blue-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms var(--cubic);
  transition: color 250ms var(--cubic);
}

.mobile-contacts__link:hover,
.mobile-contacts__link:focus {
  color: var(--link-button-blue-color);
  font-size: 34px;
  line-height: 1.17;
}

.mobile-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--link-button-blue-color);
}
/*# sourceMappingURL=main.css.map */