.features {
  padding-top: 60px;
  padding-bottom: 60px;
  /*padding-top: 94px;
  padding-bottom: 94px;*/
}

.features-list {
  /*display: flex;
  justify-content: space-between;*/

  text-align: center;
  /*text-align: left;*/
}

.features-list :not(:last-child) {
  /*max-width: 270px;*/
}

.features-list__item {
  margin-bottom: 30px;
  /*margin-left: 30px;*/
}

.features-list__container {
  background-color: var(--button-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
}

.features-list__heading {
  color: var(--heading-text-color);

  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-list__text {
  color: var(--text-color);

  line-height: 1.7;
  /*margin-top: 10px;*/
}
