.client {
  padding-top: 94px;
  padding-bottom: 94px;

  &__heading {
    font-size: 36px;
    line-height: 1.16;

    text-align: center;

    color: var(--heading-text-color);

    margin-bottom: 50px;
  }
}

.client-list {
  display: flex;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: var(--link-color);
    border: 1px solid var(--link-color);

    border-radius: 4px;

    transition: border 250ms var(--cubic), color 250ms var(--cubic);
  }

  &__link:hover,
  &__link:focus {
    color: var(--link-button-blue-color);
    border: 1px solid var(--link-button-blue-color);
  }
}

.client-list__icon {
  fill: currentColor;
}
