/*переменные*/
:root {
  --link-button-blue-color: #2196f3;
  --moz-background-hero-foter-color: #2f303a;
  --heading-text-color: #212121;
  --text-color: #757575;
  --button-background-color: #f5f4fa;
  --logo-color: #000000;
  --border-header: #ececec;
  --text-fone: #ffffff;
  --add-link-color: rgba(255, 255, 255, 0.6);
  --border-card-list: #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-form-background: #188ce8;
  --link-color: #afb1b8;

}

